
usr/servers/sybox/logs/messages.log
usr/servers/sybox/logs/state/com.ibm.ws.jmx.rest.address
usr/servers/sybox/logs/state/plugin-cfg.xml
usr/servers/sybox/workarea/.sCommand
usr/servers/sybox/workarea/.sRunning
usr/servers/sybox/workarea/com.ibm.ws.jmx.rest.address
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.2
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.3
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTableLock
usr/servers/sybox/workarea/org.eclipse.osgi/150/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/151/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/152/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/153/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/154/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/155/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/156/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/23/data/feature.fix.cache
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/C_com.ibm.ws.jmx.connector.server.rest_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/C_com.ibm.ws.jmx.connector.server.rest_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/C_com.ibm.ws.rest.handler_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/C_com.ibm.ws.rest.handler_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/C_com.ibm.ws.ui.tool.explore_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/C_com.ibm.ws.ui.tool.explore_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/C_com.ibm.ws.ui.tool.serverConfig_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/C_com.ibm.ws.ui.tool.serverConfig_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/C_com.ibm.ws.ui_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/C_com.ibm.ws.ui_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/C_IBM_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/C_IBM_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/43/data/anno/A_IBM_A/M_IBM_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/5/data/serverId
usr/servers/sybox/workarea/org.eclipse.osgi/70/data/cached-PluginCfg.xml
usr/servers/sybox/workarea/org.eclipse.osgi/9/data/configs.data
usr/servers/sybox/workarea/org.eclipse.osgi/9/data/configStamp
usr/servers/sybox/workarea/org.eclipse.osgi/9/data/variableCacheData
usr/servers/sybox/workarea/org.eclipse.osgi/framework.info.2
usr/servers/sybox/workarea/platform/bundle/.cache
usr/servers/sybox/workarea/platform/feature.bundles.cache
usr/servers/sybox/workarea/platform/feature.cache
usr/servers/sybox/workarea/platform/kernel.cache
usr/servers/sybox/workarea/platform/service.fingerprint
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.4
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.5
usr/servers/sybox/workarea/org.eclipse.osgi/70/data/temp/default_node/SMF_WebContainer/com.ibm.ws.ui/com.ibm.ws.ui/_login.class
usr/servers/sybox/workarea/org.eclipse.osgi/70/data/temp/default_node/SMF_WebContainer/com.ibm.ws.ui/com.ibm.ws.ui/_toolbox.class
usr/servers/sybox/workarea/org.eclipse.osgi/framework.info.4
usr/servers/sybox/logs/messages_20.08.13_13.15.46.0.log
usr/servers/sybox/tranlog/partnerlog/DO NOT DELETE LOG FILES
usr/servers/sybox/tranlog/partnerlog/log1
usr/servers/sybox/tranlog/partnerlog/log2
usr/servers/sybox/tranlog/tranlog/DO NOT DELETE LOG FILES
usr/servers/sybox/tranlog/tranlog/log1
usr/servers/sybox/tranlog/tranlog/log2
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.18
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.19
usr/servers/sybox/workarea/org.eclipse.osgi/0/data/digraph
usr/servers/sybox/workarea/org.eclipse.osgi/12/data/componentMetadataStore
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/C_com.ibm.ws.jmx.connector.server.rest_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/C_com.ibm.ws.jmx.connector.server.rest_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.jmx.connector.server.rest_A/M_com.ibm.ws.jmx.connector.server.rest_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/C_com.ibm.ws.rest.handler_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/C_com.ibm.ws.rest.handler_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.rest.handler_A/M_com.ibm.ws.rest.handler_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/C_com.ibm.ws.ui.tool.explore_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/C_com.ibm.ws.ui.tool.explore_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.explore_A/M_com.ibm.ws.ui.tool.explore_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/C_com.ibm.ws.ui.tool.serverConfig_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/C_com.ibm.ws.ui.tool.serverConfig_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui.tool.serverConfig_A/M_com.ibm.ws.ui.tool.serverConfig_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/C_com.ibm.ws.ui_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/C_com.ibm.ws.ui_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_com.ibm.ws.ui_A/M_com.ibm.ws.ui_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/C_IBM_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/C_IBM_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/C_seed_C.data
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/C_seed_C.stamp
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/classes
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/containers
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/resolved
usr/servers/sybox/workarea/org.eclipse.osgi/217/data/anno/A_IBM_A/M_IBM_M/unresolved
usr/servers/sybox/workarea/org.eclipse.osgi/235/data/expandApps
usr/servers/sybox/workarea/org.eclipse.osgi/244/data/cached-PluginCfg.xml
usr/servers/sybox/workarea/org.eclipse.osgi/244/data/temp/default_node/SMF_WebContainer/com.ibm.ws.ui/com.ibm.ws.ui/_login.class
usr/servers/sybox/workarea/org.eclipse.osgi/244/data/temp/default_node/SMF_WebContainer/com.ibm.ws.ui/com.ibm.ws.ui/_toolbox.class
usr/servers/sybox/workarea/org.eclipse.osgi/357/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/6/data/metaTypeCache
usr/servers/sybox/workarea/org.eclipse.osgi/9/data/extended.bundle.cache
usr/servers/sybox/workarea/org.eclipse.osgi/framework.info.18
usr/servers/sybox/workarea/org.eclipse.osgi/.manager/.fileTable.20
usr/servers/sybox/workarea/org.eclipse.osgi/363/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/364/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/365/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/366/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/367/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/368/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/369/0/bundleFile
usr/servers/sybox/workarea/org.eclipse.osgi/framework.info.19
